@media (min-width:481px) and (max-width:1200px){
body{
    background: seashell;
}
}

@media (min-width:1201px) and (max-width:1600px){
body{
    background: whitesmoke;
}
}

@media (min-width:319px) and (max-width:480px){
body{
    background: silver;
}
}

@media (min-width:1601px)
{
    body{
        background-color:cornsilk;
    }
}

h1{
    font: bold;
    color:darkgreen;
    font-size: 35px;
    font-weight: bold;
}
label{
    font:bold;
    font-size: large;
    color: darkgreen;
    font-weight: bold;
}

@font-face{
    font-family: 'Jameel Noori Nastaleeq';
    src: url('fonts/JameelNooriNastaleeq.woff2')
    format('.woff2')
    url('fonts/JameelNooriNastaleeq.woff')format('woff')
    url('fonts/JameelNooriNastaleeq.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Jameel Noori Nastaleeq', serif;
    line-height: 2;
    direction: ltr;
    text-align: center;
}

input[type="text"],input[type="password"] {
    width: 300px;
    padding: 4px;
    border: 2px solid green;
    border-radius: 8px;
    font-size: 16px;
    background-repeat: no-repeat;
}

input[type="text"]:focus,input[type="password"]:focus{
    background-color: aliceblue;
}

img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.img-header{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    align-items: center;
}


.form-container{
display: flex;
grid-template-columns: 1fr 1fr;
grid-template-rows: 100px 100px 0px;
row-gap: 10px; column-gap: 10px;
align-items: center;
}

button{
    background-color: burlywood;
    border: none;
    color: green;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 6px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover{
    background-color: aliceblue;
    color: green;
}

label{
    display: inline-block;
    text-align: left;    
}

.image_box {
    float:right;
    text-align: center;
    padding: 20px 0;
    height: 130px;
}
.image_box p{
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
    color: green;   
}

*{
    box-sizing: border-box;
}

hr{
    border: 1px solid #C6D870;
}

.login-card{
    max-width: 400px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    background: #fff;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    
}

.login-header{
      background:#EBEBEB;
      color: white;
      text-align: center;
      padding: 20px;
}

.login-header h2{
    margin:0;
    font: bold;
    color:darkgreen;
    font-size: 25px;
    font-weight: bold;
}

.login-header p{
    margin:0;
    font: bold;
    color:darkgreen;
    font-size: 15px;
    font-weight: bold;
}

.custom-icon{
    color: green;
    font-size: 20px;
}

body{
padding: 0;
margin: 0;
}